<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/sidebar :: common-css-admin">
    <meta name="csrf-token" content="{{csrf_token()}}"/>

</head>

<body id="page-top">

<div id="wrapper">

    <div th:replace="fragments/sidebar :: side-bar"></div>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <div th:replace="fragments/topbar :: top-bar"></div>

            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800" th:text="'Danh sách thiết bị của trạm ' + ${station.name}"/>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div style="margin-bottom: 20px;">
                                    <button class="btn btn-primary newBtn"
                                            data-toggle="modal"
                                            data-target="#addDeviceStationModal">
                                        <i class="fas fa-plus-circle"></i> Thêm mới
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên thiết bị</th>
                                    <th>Đơn vị đo</th>
                                    <th>Ngưỡng thấp</th>
                                    <th>Ngưỡng cao</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="u,i:${listDevices}">
                                    <tr>
                                        <td th:text="${i.count}"></td>
                                        <td th:text="${u.name}"></td>
                                        <td th:text="${u.unit}"></td>
                                        <td th:text="${u.lowValue}"></td>
                                        <td th:text="${u.highValue}"></td>
                                        <td>
                                            <a th:href="@{/user/manage-station/station/{stationId}/devices/{deviceId}(stationId=${u.station.id}, deviceId=${u.id})}"
                                               id="btnEditDeviceStationRow" name="btnEditDeviceStationRow"
                                               class="btn btn-warning">Sửa</a>

                                            <a th:href="@{/user/manage-station/station/{stationId}/devices/{deviceId}/delete(stationId=${u.station.id}, deviceId=${u.id})}"
                                               id="btnDeleteDeviceStationRow" name="btnDeleteDeviceStationRow"
                                               class="btn btn-danger">Xóa</a>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="addDeviceStationModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form action="#"
                          th:action="@{/user/manage-station/station/{stationId}/devices/new(stationId=${stationId})}"
                          method="post">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"
                                        th:text="'Thêm mới thiết bị cho trạm ' + ${station.name}"/>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label">Tên thiết bị:</label>
                                        <input type="text" class="form-control" required id="name" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="unit" class="col-form-label">Đơn vị đo:</label>
                                        <input type="text" class="form-control" id="unit" name="unit">
                                    </div>
                                    <div class="form-group">
                                        <label for="lowValue" class="col-form-label">Ngưỡng thấp:</label>
                                        <input type="text" class="form-control" id="lowValue" name="lowValue">
                                    </div>
                                    <div class="form-group">
                                        <label for="highValue" class="col-form-label">Ngưỡng cao:</label>
                                        <input type="text" class="form-control" id="highValue" name="highValue">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal fade" id="editDeviceStationModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleEditDeviceModalLabel" aria-hidden="true">
                    <form action="#"
                          th:action="@{/user/manage-station/station/devices/update}"
                          method="post">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleEditDeviceModalLabel"
                                        th:text="'Chỉnh sửa thông tin thiết bị cho trạm ' + ${station.name}"/>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control" hidden id="idStationEdit" name="stationId">
                                    <input type="text" class="form-control" hidden id="idDeviceEdit" name="id">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label">Tên thiết bị:</label>
                                        <input type="text" class="form-control" required id="nameEdit" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="unit" class="col-form-label">Đơn vị đo:</label>
                                        <input type="text" class="form-control" id="unitEdit" name="unit">
                                    </div>
                                    <div class="form-group">
                                        <label for="lowValue" class="col-form-label">Ngưỡng thấp:</label>
                                        <input type="text" class="form-control" id="lowValueEdit" name="lowValue">
                                    </div>
                                    <div class="form-group">
                                        <label for="highValue" class="col-form-label">Ngưỡng cao:</label>
                                        <input type="text" class="form-control" id="highValueEdit" name="highValue">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal" tabindex="-1" role="dialog" id="confirmDeleteDeviceStationModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Xác nhận xóa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Bạn chắc chắn xóa thiết bị của trạm này?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                                <a href="" class="btn btn-primary" id="deleteDeviceStationRef">Đồng ý</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

    </div>

</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<div th:replace="fragments/sidebar :: sidebar-js"></div>
<script th:src="@{~/js/common.js}"></script>

<script th:src="@{~/js/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{~/js/datatables/dataTables.bootstrap4.min.js}"></script>

<script type="text/javascript" src="../static/js/demo/datatables-demo.js"
        th:src="@{~/js/demo/datatables-demo.js}"></script>
</body>

</html>